*,*::before,*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  background-color:var(--BG);
}

#root{
  min-height: 100vh;
  display: grid;
  position: relative;
}

:root{
  --Denim:#022959;
  --SkyBlue:#BEE2FD;
  --LightBlue:#ABBCFF;
  --Denim:#022959;
  --Grey: #9699AA;
  --BG :#EFF5FF;
  --Purple: #483EFF;
  --Red:#EE374A;
  --Red-Errors: #EE374A;
  --Light-Grey: #D6D9E6;
  --Very-Light-Grey : #F8F9FF;
}


svg{
  width: inherit;
  height: inherit;
}


/* Remove increment/decrement buttons on input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



/* ==============
  Typography
================= */

/* Sidebar */

.step-number-circle{
   font-size: 0.8125rem;
   text-align: center;
   color: white;
}

.step-number-circle.active{
  color: var(--Denim);
  background: var(--SkyBlue);
  border: none;
}

.step-info p:first-child{
  color: var(--LightBlue);
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.step-info p:last-child{
  color: white;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* Steps */



/* Main */


.step-title{
  color: var(--Denim);
  font-size: 1.5rem;
  font-weight: 700;
}

.step-desc{
  color: var(--Grey);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56;
}


@media(mi-width:1000px){
  .step-title{
    font-size: 2rem; 
  }
}



/* Personal Info */

.form-input-container label{
  color: var(--Denim);
  font-size: 0.75rem;
  font-weight: 400;
  margin:0 0 3px;
}

.form-input-container input{
  color: var(--Grey);
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.8em 1em;

}




/* Plans */
.plan-name{
  color: var(--Denim);
  font-size: 1rem;
  font-weight: 500;
}


.plan-price{
  color: var(--Grey);
  font-size: 0.8125rem;
  font-weight: 400;
}

.plan-year-text{
  color: var(--Denim);
  font-size: 0.75rem;
  font-weight: 400;
}


.plan-option-container p{
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--Grey);
  cursor: pointer;
}

.plan-option-container p.selected{
  color: var(--Denim);
}


/* Add ons */

.add-on-name{
  color: var(--Denim);
  font-size: 1rem;
  font-weight: 500;
}

.add-on-desc{
  color: var(--Grey);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.42;
}


.add-on-price{
  color: var(--Purple);
  font-size: 0.8125rem;
  font-weight: 400;
}




/* Summary */

.plan-sum-info p{
  color: var(--Denim);
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: capitalize;
}


.plan-sum-info button,
.add-on-sum-name
,.total-per {
  color: var(--Grey);
  font-size: 0.8125rem;
  font-weight: 400;
}


.plan-sum-price{
  color: var(--Denim);
  font-size: 0.8125rem;
  font-weight: 700;
}


.add-on-sum-price{
  color: var(--Denim);
  font-size: 0.8125rem;
  font-weight: 700;
}


.sum-total-price{
  color: var(--Purple);
  font-size: 1rem;
  font-weight: 700;
}


@media (min-width:1000px) {
  
  .plan-sum-info p {
    font-size: 1rem;
  }
  
  .plan-sum-info button{
    font-size: 1rem; 
  }

  .plan-sum-price{
    font-size: 1rem;
  }

  .sum-total-price{
    font-size: 1.25rem;
  } 

}







/* ==============
  Layout
================= */



/* Sidebar */

.sidebar-container{
  background-image: url('assets/images/bg-sidebar-mobile.svg');
  background-size: cover;
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  gap:1em;
}

.step-index{
  cursor: pointer;
}

.step-number-circle{
  max-width: 33px;
  height: 33px;
  aspect-ratio: 1;
  display:grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid white;
}


.step-info{
  display: none;
}

.step-info p{
  margin: 0.25rem;
}


@media (min-width:1000px){

  body{
    background: white;
  }

  .container{
    min-height: calc(100vh-1em);
    display: flex;
    margin: 1em;
  }

  .col{
    margin-right: 100px;
    height: 100%;
    width: 50%;
  }

  .col.left{
    width: 30%;
  }

  .sidebar-container{
    height: 100% ;
    background: url('assets/images/bg-sidebar-desktop.svg');
    background-size:cover;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5em 2em;
  }

  .step-index{
    display: flex;
    align-items: center;
    gap:1em;
  }

  .step-info{
    display: block;
  }
}









/* Steps */



/* Main */

.step-form-container{
  padding: 2em 1.5em;
  margin: 0 1em;
  background: white;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  margin-top: -4.5em;
  margin-bottom: 5.5em;
}

.step-title{
  margin: 0 0 0.375em;
}

.step-desc{
  max-width: 280px;
  margin:0 0 1.375rem;
}


/*Personal Info */


.form-input-container .input-info{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}


.form-input-container input{
  color: var(--Denim);
  display: block;
  width: 100%;
  margin: 0 0 1rem;

  border-radius: 4px;
  border: 1px solid var(--Border-Color, #D6D9E6);
  background: var(--White, #FFF);
}

.form-input-container input:hover{
  border: 1px solid var(--Purple);
}

.form-input-container input:focus{
  border: 2px solid var(--Purple);
  outline: none;
}

.input-error{
  border: 1px solid var(--Red);
}

.form-input-container .label-error{
  margin-left: auto;
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--Red-Errors);
  display: none;
}



@media (min-width:1000px){
  .step-form-container{
    padding: 2.5em 1.5em;
    margin: 0;
    height: 100%;
    box-shadow: none;
    position: relative;
  }

  .step-title{
    margin-bottom: 11px;
  }

  .step-desc{
    margin: 0 0 2.1875em;
  }

  .step-form-container input{
    margin: 0 0 1.5rem;
  }
}

/* Plans */

.plan-single{
  background: white;
  border:  1px solid var(--Light-Grey);
  border-radius: 8px;
  padding: 1rem;  
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap:0.8125rem;
  cursor: pointer;
  margin: 0 0 0.75rem;
}  

.plan-single:hover{
  border: 1px solid var(--Purple, #483EFF);
}


.plan-single.selected{
  border: 1px solid var(--Purple);
  background: var(--Very-Light-Grey);
}

.plan-single svg{
  height: 40px;
  width: 40px;
}

.plan-name{
  margin: 0 0 0.5em;
}

.plan-price{
  margin: 0 0 3px ;
}

.plan-year-text{
  margin: 0;
}


.plan-option-container{
  border-radius: 8px;
  background: var(--Very-Light-Grey);
  padding: 0.75rem;
  margin: 1.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}


/* Switch */

.plan-switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 24px;
}

/* Hide default HTML checkbox */
.plan-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input + .slider {
  background-color: var(--Denim);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media (min-width:1000px){
  .plans-container{
    display: flex;
    gap: 1.125em;
    flex-wrap: wrap;
  }
  .plan-single{
    width: 30%;
    padding: 1.25em 1em;
    flex-direction: column;
    gap:2.5em;
  }
  .plan-option-container{
    width: 100%;
    margin:2rem 0 0;
  }
}


/* Add ons */


.add-on-single{
  display: flex;
  align-items: center;
  margin:0 0 0.75rem;
  padding: 0.75em 1em;
  border-radius: 8px;
  border: 1px solid var(--Light-Grey);
  cursor: pointer;
}

.add-on-single:hover{
  border: 1px solid var(--Purple, #483EFF);
}

.add-on-single.selected{
  border: 1px solid var(--Purple);
  background: var(--Very-Light-Grey);
}

.add-on-single:last-child{
  margin: 0;
}

.add-on-info{
  margin-left:1rem;
}

.add-on-price{
  margin-left: auto;
}

.add-on-name{
  margin: 0;
}
.add-on-desc{
  margin: 0.5em 0 0;
}


.add-on-single input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin: 0;
  accent-color: var(--Purple);
  cursor: pointer;
}


@media(min-width:1000px){
  .add-on-single{
    margin:0 0 1rem;
  }

  .add-on-info{
    margin-left:  1.5rem;
  } 
}


/* Summary */


.summary-container{
  border-radius: 8px;
  background: var(--Very-Light-Grey);
  padding: 1em;
}

.plan-sum{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.plan-sum{
  padding-bottom:0.75em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid var(--Grey);
}


.plan-sum-info p{
  margin: 0 0 3px;
}

.plan-sum-info button{
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
}

.plan-sum-info button:hover{
  color: var(--Purple );
}

.add-on-sum{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75em;
}

.add-on-sum:last-child{
  margin: 0;
}

.add-on-sum *{
  margin: 0;
}



.sum-total{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1.5em 0 0;
  padding: 0 1em;
}

.sum-total *{
  margin: 0;
}

@media(min-width:1000px){

  .summary-container{
    padding: 1.5em 1em;
  }

  .plan-sum{
    padding-bottom: 1.5em;
    margin-bottom: 1rem;
  }

  .plan-sum-info p{
    margin-bottom: 7px;
  } 

  .add-on-sum{
    margin:0 0 1em; 
  }
  .add-on-sum:last-child{
    margin: 0;
  }
   
}





/* Nav Buttons */

.col{
  display: flex;
  flex-direction: column;
}

.nav-buttons{
  background: white;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
  padding: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  z-index: 1;
}


.prev-btn,
.next-btn,
.confirm-btn{
  font-size: 0.8125rem;
  padding: 0.75rem 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer; 
}

.next-btn{
  color: white;
  background: var(--Denim);
  border-radius: 4px;
  margin-left:auto ;
}

.prev-btn{
  color: var(--Grey );
  background: none;
}

.confirm-btn{
  padding: 0.85em 1.6em;
  color: white;
  background: var(--Purple);
  border-radius: 4px;
  margin-left: auto;
}

.confirm-btn:active{
  background: #928CFF;
}

.prev-btn:hover{
  color: var(--Denim);
}

@media(min-width:1000px){
  .nav-buttons{
    position: absolute;
    box-shadow: none;
    width: 100%;
    padding:2rem 1.5rem;
  }

  
  .next-btn,
  .confirm-btn,
  .prev-btn{
    border-radius: 8px;
    font-size: 1rem; 
  }

}


/* Thank you */


.thank-you-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.thank-you-container svg{
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.thank-you-container .step-desc{
  text-align: center;
  margin: 0;
  max-width: 500px;
}

@media(min-width:1000px){
  .thank-you-container svg{
    width: 85px;
    height: 85px;
    margin-bottom: 2rem;
  }
}
